<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
  <body>
    <h1>CornerShelf</h1>
    <a href='{{url_for('gdisconnect')}}'> Logout </a>
    <a href="{{url_for('personalCookbookAdd', cookbook_id=cookbook.id)}}">Add a Recipe</a>

    {% for recipe in recipes %}

     <a href = "{{url_for('personalRecipe', cookbook_id=cookbook.id, recipes_id=recipe.id)}}"> <h1>{{recipe.name}}</h1></a>

    {% endfor %}



    <a href="{{url_for('homepage')}}">Home</a>



  </body>
</html>
