<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
  <body>
    <h1>CornerShelf</h1>
    <a href='/cornershelf/logout'> Logout </a>
    <a href="{{url_for('addRecipe', user_id=user.id, cookbook_id=cookbook.id)}}">Add a Recipe</a>

    {% for recipes in Cookbook %}

     <a href = "{{url_for('recipe', user_id=user.id, cookbook_id=cookbook.id, recipes_id=recipes.id)}}"> <h1>{{recipes.name}}</h1></a>

    {% endfor %}



    <a href="{{url_for('index')}}">Home</a>



  </body>
</html>
