<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
  <body>
    <h1>CornerShelf</h1>
    <a href='{{url_for('gdisconnect')}}'> Logout </a></br>

    <a href="{{url_for('personalCookbook', cookbook_id=cookbook.id )}}">Back to {{cookbook.name}}</a>


  <h1> Edit Your Recipe </h1>

    <form action="#" method = 'post'>


    	<p>Recipe Name</p>
    		<input type ='text' size='80' name='name' placeholder = '{{recipes.name }}'>
    	<p>Ingredients</p>
    		<input type ='text' size='300' name='ingredients' placeholder = '{{recipes.ingredients}}'>
    	<p>Directions</p>
    		<input type ='text' size='800' name='directions' placeholder = '{{recipes.directions}}'>
    	<p>Type<p>
        {% if recipes.type == 'Breakfast'%}
          <dd><input type ='radio' name='type' value='Breakfast'checked >Breakfast</dd>

        {% else %}
           <dd><input type ='radio' name='type' value='Breakfast'>Breakfast</dd>

        {% endif %}

    	{% if recipes.type == 'Appetizer' %}
    		<dd><input type ='radio' name='type' value='Appetizer'checked >Appetizer</dd>
    	{%else%}
    	<dd><input type ='radio' name='type' value='Appetizer' >Appetizer</dd>
        {% endif %}

        {% if recipes.type == 'Soup' %}
           <dd><input type ='radio' name='type' value='Soup' checked>Soup</dd>

        {%else%}
    		<dd><input type ='radio' name='type' value='Soup'>Soup</dd>
        {% endif %}

    	{% if recipes.type == 'Salad'%}
    		<dd><input type ='radio' name='type' value='Salad'checked >Salad</dd>

    	{% else %}
    	   <dd><input type ='radio' name='type' value='Salad'>Salad</dd>

    	{% endif %}


    	{%if recipes.type =='Sides'%}
    		<dd><input type ='radio' name='type' value='Sides'checked >Sides</dd>
    	{% else %}
    		<dd><input type ='radio' name='type' value='Sides'>Sides</dd>
    	{% endif %}

      {% if recipes.type == 'Lunch'%}
        <dd><input type ='radio' name='type' value='Lunch'checked >Lunch</dd>

      {% else %}
         <dd><input type ='radio' name='type' value='Lunch'>Lunch</dd>

      {% endif %}

      {% if recipes.type == 'Dinner'%}
        <dd><input type ='radio' name='type' value='Dinner'checked >Dinner</dd>

      {% else %}
         <dd><input type ='radio' name='type' value='Dinner'>Dinner</dd>

      {% endif %}

      {% if recipes.type == 'Dessert'%}
        <dd><input type ='radio' name='type' value='Dessert'checked >Dessert</dd>

      {% else %}
         <dd><input type ='radio' name='type' value='Dessert'>Dessert</dd>

      {% endif %}

      {% if recipes.type == 'Drinks'%}
        <dd><input type ='radio' name='type' value='Drinks'checked >Drinks</dd>

      {% else %}
         <dd><input type ='radio' name='type' value='Drinks'>Drinks</dd>

      {% endif %}
    <input type='submit' value='Edit'>





    </form>

  <a href = '{{url_for('personalRecipe', cookbook_id=cookbook.id, recipes_id=recipes.id)}}'> Cancel </a>

  <a href="{{url_for('homepage')}}">Home</a>



  </body>
</html>
