<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat|Pacifico|Slabo+27px" rel="stylesheet">
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <title>CornerShelf</title>
  </head>
  <body>
    <div class='grid_header'>
    <div><h1>CornerShelf</h1></div>
    <div><a href='{{url_for('gdisconnect')}}'> Logout </a></div>
    <div><a href="{{url_for('homepage')}}">Home</a></div>
    </div>
</br>
    <a href="{{url_for('personalCookbook', cookbook_id=cookbook.id )}}">Back to {{cookbook.name}}</a>
  </br>


  <h2> Edit Your Recipe </h2>

    <form action="#" method = 'post'>


    	<p>Recipe Name</p>
    		<input type ='text' size='80' name='name' placeholder = '{{recipes.name }}' required>
    	<p>Ingredients</p>
    		<input type ='text' size='300' name='ingredients' placeholder = '{{recipes.ingredients}}' required>
    	<p>Directions</p>
    		<input type ='text' size='800' name='directions' placeholder = '{{recipes.directions}}' required>
    	<p>Type<p>

<div class='checked_grid'>
  <div>
        {% if recipes.type == 'Breakfast'%}
        <input type=radio name="recipe_type" value='Breakfast' checked>Breakfast</input>
            {% else %}
        <input type=radio name="recipe_type" value='Breakfast' >Breakfast</option>
          {% endif %}
</div>
<div>
        {% if recipes.type == 'Appetizer'%}
          <input type=radio name="recipe_type" value='Appetizer' checked>Appetizer</input>
              {% else %}
          <input type=radio name="recipe_type" value='Appetizer' >Appetizer</option>
        {% endif %}
</div>
<div>
        {% if recipes.type == 'Soup'%}
            <input type=radio name="recipe_type" value='Soup' checked>Soup</input>
                {% else %}
            <input type=radio name="recipe_type" value='Soup' >Soup</option>
          {% endif %}
</div>
<div>
        {% if recipes.type == 'Salad'%}
              <input type=radio name="recipe_type" value='Salad' checked>Salad</input>
                  {% else %}
              <input type=radio name="recipe_type" value='Salad' >Salad</option>
        {% endif %}
</div>
<div>
        {% if recipes.type == 'Sides'%}
              <input type=radio name="recipe_type" value='Sides' checked>Sides</input>
                  {% else %}
              <input type=radio name="recipe_type" value='Sides' >Sides</option>
        {% endif %}
</div>
<div>
        {% if recipes.type == 'Lunch'%}
              <input type=radio name="recipe_type" value='Lunch' checked>Lunch</input>
                  {% else %}
              <input type=radio name="recipe_type" value='Lunch' >Lunch</option>
        {% endif %}
</div>
<div>
        {% if recipes.type == 'Dinner'%}
              <input type=radio name="recipe_type" value='Dinner' checked>Dinner</input>
                  {% else %}
              <input type=radio name="recipe_type" value='Dinner' >Dinner</option>
        {% endif %}
</div>
<div>

    {% if recipes.type == 'Dessert'%}
		<dd><input type ='radio' name='course' value='Dessert'checked >Dessert</dd>

	{% else %}
	   <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>

	{% endif %}
</div>
<div>
  {% if recipes.type == 'Drinks'%}
        <input type=radio name="recipe_type" value='Drinks' checked>Drinks</input>
            {% else %}
        <input type=radio name="recipe_type" value='Drinks' >Drinks</option>
  {% endif %}
</div>
    </br>
  </br>
  </div>
    <input type='submit' value='Edit'>





    </form>

  <a href = '{{url_for('personalRecipe', cookbook_id=cookbook.id, recipes_id=recipes.id)}}'> Cancel </a>





  </body>
</html>
