<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
<body>
<h1>CornerShelf</h1>
<a href="{{url_for('login')}}"> Login </a>
<a href='{{url_for('gdisconnect')}}'> Logout </a>
</br>
<a href='{{url_for('createCookbookNew')}}'>Create a Cookbook! </a>

<p>Check out these awesome cookbooks!</p>

{% for cookbook in cookbooks %}

 <a href = "{{url_for('personalCookbook', cookbook_id = cookbook.id)}}"> <p>{{cookbook.name}}</p></a>

{% endfor %}



</body>
</html>
