<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat|Pacifico|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <title>CornerShelf</title>
  </head>

<body>
<div class='grid_header'>
<div><h1>CornerShelf</h1></div>

{% if user == 'yes' %}
      <div><a href='{{url_for('gdisconnect')}}'> Logout </a></div>
    {% else %}
      <div><a href="{{url_for('login')}}" > Login </a></div>
    {% endif %}

</div>

</br>


<a href='{{url_for('createCookbookNew')}}' id="create_button">Create a Cookbook! </a>

<h2>Check out these awesome cookbooks!</h2>

<div class='cookbook_grid'>
{% for cookbook in cookbooks %}

   <div id='cookbook_item'><a href = "{{url_for('personalCookbook', cookbook_id = cookbook.id)}}"> <h3>{{cookbook.name}}</h3></a></div>

{% endfor %}
</div>


</body>
</html>
