<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat|Pacifico|Slabo+27px" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<meta charset="utf-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<title>CornerShelf</title>
</head>
<body>


<div class='grid_header'>
<div><h1>CornerShelf</h1></div>
<div></div>
<div></div>
</div>
</br>
</br>
<h2>Login to start creating and adding to your personal cookbook!</h2>
</br>
</br>
<div class='wrapper'>
    <div id="googleButton">
      <span class="g-signin"
      data-scope="openid email"
      data-clientid="Your ClientID Here"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
      </span>
    </div>
</div>
<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    $('#signinButton').attr('style', 'display: none');

    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {

        if (result) {
          $('#result').html('You are logged on!</br>'+ result + '</br>Redirecting...');
          setTimeout(function() {
            window.location.href = "/cornershelf";
          }, 2000);
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      },
      error: function(result) {
        console.log('There was an error: ' + result);
      }

  }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->

  </body>

  </html>
