<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
<body>

  <a href="{{url_for('login')}}"> Login </a>
  <a href='{{url_for('gdisconnect')}}'> Logout </a>

  {% for recipes in Cookbook %}

  <a href = "{{url_for('publicrecipes', cookbook_id=recipe.cookbookID, recipes_id=recipe.id)}}"> <h1>{{recipe.name}}</h1></a>
  {% endfor %}



  <a href="{{url_for('homepage')}}">Home</a>




</body>
</html>
