<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
  <body>
    <h1>CornerShelf</h1>
    <a href='{{url_for('gdisconnect')}}'> Logout </a>

    <a href="{{url_for('personalCookbook', cookbook_id=cookbook.id )}}">Back to {{cookbook.name}}</a>

    <h1>{{ recipes.name }}</h1>
    <h2>Type: {{ recipes.type }}</h2>
    <h2>Ingredients: {{ recipes.ingredients }}</h2>
    <h2>Directions: {{ recipes.directions }}</h2>

    <a href="{{url_for('personalCookbookEdit', cookbook_id=cookbook.id, recipes_id=recipes.id )}}">Edit Recipe</a>
    <a href="{{url_for('personalCookbookDelete', cookbook_id=cookbook.id, recipes_id=recipes.id )}}">Delete Recipe</a>

    <a href="{{url_for('homepage')}}">Home</a>



  </body>
</html>
