<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>CornerShelf</title>
  </head>
  <body>
    <h1>CornerShelf</h1>
    <a href='/cornershelf/logout'> Logout </a>
    <a href="{{url_for('cookbook', user_id=user.id, cookbook_id=cookbook.id)}}">Back to Cookbook</a>

 <h1>Search for a Recipe</h1>
<form action='#' method='post'>

<input type='submit' value='create'>
</form>

    <a href="{{url_for('index')}}">Home</a>




</body>
</html>
